.container{
    display: flex;
    width: 700px;
    height: 700px;
    justify-content: center;
    justify-self: center;
}

.column{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.pixels{
    background-color: black;
    display: flex;
    height: 100%;
}

