body{
    background-color: rgb(38, 40, 43);
}


.container{
    display: flex;
    width: 700px;
    height: 700px;
    justify-content: center;
    justify-self: center;
}

.column{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.pixels{
    background-color: rgb(255, 235, 208);
    display: flex;
    height: 100%;
}

.onPixels{
    background-color: black;
    display: flex;
    height: 100%;
}

#settings{
    display: flex;
    justify-content: center;
}

ul{
    list-style: none;
    display: flex;
    gap: 40px;
    padding: 0;
}

button{
    background-color: rgb(199, 199, 199);
    border-radius: 3px;
    border: 1px;
    width: 60px;
    height: 30px;
    font-size: medium;
}

